html, body {
  height: 100%;
  margin: 0;
}

body {
  background-image: url("../images/concrete_seamless.png");
}

#wrapper {
  min-height: 100%;
  margin-bottom: -100px;
}

#wrapper:after {
  content: "";
  display: block;
}

footer, #wrapper:after {
  height: 100px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background-color: #666;
  color: #ccc;
  font-size: 12px;
  border-top: 8px solid #4aaaa5;
}

footer p {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 12px;
  text-align: center;
}

.navbar {
  border-top: none;
  border-bottom: 2px solid #ccc;
  margin-bottom: 40px;
  min-width: 278px;
}

.navbar-default {
  background-color: white;
}

.navbar-header {
  background-color: #4aaaa5;
}

#bs-example-navbar-collapse-1 > ul>li {
  padding-left: 3px;
  padding-right: 3px;
}

.navbar-default .navbar-nav>li {
  margin-top: 30px;
}

.navbar-default .navbar-nav>li>a {
  color: #777;
  font-size: 18px;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-collapse ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #777;
}

.navbar-default .navbar-nav>li>a:visited {
  color: #777;
}

#pipe1, #pipe2 {
  color: #ddd;
}

.header {
  font-family: 'Georgia', Times, 'Times New Roman', serif;
  font-weight: 600;
}

/* h2 and h3 */
.header-2 {
  color: #4aaaa5;
}

h1 {
  background-color: #4aaaa5;
  color: white;
  padding: 10px 24px 20px 24px;
  text-align: center;
  white-space: nowrap;
  font-size: 30px;
  font-family: 'Georgia', Times, 'Times New Roman', serif;
  font-weight: 600;
}

h2 {
  font-size: 30px;
  border-bottom: 3px solid #ddd;
  padding-bottom: 34px;
  margin-top: 10px;
  margin-bottom: 30px;
}

h3 {
  font-size: 22px;
  border-bottom: 2px solid #eee;
  padding-bottom: 25px;
  margin-top: 0;
  margin-bottom: 25px;
}

h4 {
  position: absolute;
  width: 100%;
  top: 70%;
  height: 22%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(74, 170, 165, 1);
  text-align: center;
  font-family: 'Georgia', Times, 'Times New Roman', serif;
  font-size: 1.8em;
  color: white;
  text-shadow: 1px 1px #000;
}

section {
  background-color: white;
  border: 1px solid #ddd;
  padding: 30px;
  margin-bottom: 40px;
}

#matt_pic {
  float: left;
  width: 300px;
  height: auto;
  margin-right: 25px;
  margin-bottom: 8px;
}

.about-matt {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #777777;
  font-size: 18px;
  line-height: 1.6em;
  margin-top: -7px;
}

#portfolio_container {
  margin-bottom: -30px;
}

.portfolio-row {
  margin: 0 -20px 0 -20px;
}

.portfolio-image {
  padding: 0;
  margin-bottom: 40px;
}

.portfolio-image img {
  width: 100%;
  height: auto;
}

.project-title {
  position: relative;
  margin: 0 20px 0 20px;
}

#contact_form {
  line-height: 1.6em;
  margin-top: -7px;
}

label {
  font-size: 18px;
  font-weight: normal;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #777777;
}

#contact_form button {
  background-color: #4aaaa5;
  color: white;
  padding: 10px 30px 10px 30px;
  font-size: 18px;
  margin-top: 10px;
  border: none;
}

#contact_form input {
  font-size: 18px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #777777;
  border: 1px solid #ddd;
  width: 100%;
  margin-bottom: 15px;
  padding: 4px 2px 4px 2px;
}

#contact_form textarea {
  font-size: 18px;
  color: #777777;
  border: 1px solid #ddd;
  padding: 4px 2px 4px 2px;
  width: 100%;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #ccc;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #ccc;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #ccc;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #ccc;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #ccc;
}

#image_container {
  margin: 0 0 10px 0;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.icon-row {
  margin-left: -4px;
  margin-right: -4px;
}

.icon-col {
  padding: 0;
}

.icon {
  width: 100%;
  height: auto;
  border-radius: 8px;
  padding-right: 4px;
  padding-left: 4px;
}

/* WIDTH OF 1199 or SMALLER */
@media only screen and (max-width: 980px) {

  #bs-example-navbar-collapse-1 > ul>li {
    padding-left: 2px;
    padding-right: 2px;
  }

  #matt_pic {
    float: none;
    display: block;
    margin: 0 auto;
    margin-bottom: 38px;
    width: 100%;
    height: auto;
  }

  h4 {
    font-size: 2.2em;
  }

}

/* WIDTH OF 991 or SMALLER */
@media only screen and (max-width: 768px) {

  .container {
    width: 100%;
  }

  /*.navbar-right {
    margin-right: -22px;
  }*/

  #matt_pic {
    float: left;
    width: 300px;
    height: auto;
    margin-right: 25px;
    margin-bottom: 8px;
  }

  h4 {
    font-size: 3.5vw;
  }


}

/* WIDTH OF 767 or SMALLER */
@media only screen and (max-width: 640px) {
  .navbar-default .navbar-nav>li {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .navbar-right {
    margin-right: -15px;
    margin-left: -15px; 
  }

  #matt_pic {
    float: none;
    display: block;
    margin: 0 auto;
    margin-bottom: 38px;
    width: 100%;
    height: auto;
  }

  h4 {
    font-size: 5vw;
  }


}



